<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="WEB-INF/templates/template.xhtml">
    <f:metadata>
        <f:viewParam name="id" value="#{confirmController.user}" 
                     converter="userConverter">
        </f:viewParam>
    </f:metadata>
    <ui:define name="pageTitle">Confirm user</ui:define>
    <ui:define name="pageContent">
        <h:form>
            <h:panelGrid columns="2">
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="First name : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="#{confirmController.user.firstName}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Last name : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="#{confirmController.user.lastName}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Date of birth : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{confirmController.user.dateOfBirth}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Gender : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{confirmController.user.gender}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">E-mail: </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{confirmController.user.email}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Service level : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{confirmController.user.serviceLevel}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Phone : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{confirmController.user.phone}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Account number : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                        value="#{confirmController.user.accountNumber}"/>
                </h:panelGroup>
            </h:panelGrid>
            <h:link styleClass="btn btn-dark" outcome="pretty:register" value="Edit">
                <f:viewParam name="id" value="15"/>
            </h:link>
        </h:form>
    </ui:define>
</ui:composition>
</html>
