<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
          
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Title</title>
</h:head>
<h:body>
    <h1>Hello world</h1>
    <h:form>
        <h:outputLabel for="search" value="Search"/>
        <h:inputText id="search" value="#{personsController.search}"/>
        <h:commandButton id="searchBtn" value="Filter">
            <f:ajax execute="search"
                    render=":users"
                    listener="#{personsController.filter()}"/>
        </h:commandButton>
    </h:form>
    <h:dataTable id="users" styleClass="table table-dark" value="#{personsController.filteredUsers}" var="user">
        <h:column id="column1">
            <h:outputText id="column1text" value="#{user.id}" />
        </h:column>
        <h:column id="column2">
            <h:outputText id="column2text" value="#{user.firstName}" />
        </h:column>
        <h:column id="column3">
            <h:outputText id="column3text" value="#{user.lastName}" />
        </h:column>
        <h:column id="column4">
            <h:outputText id="column4text" value="#{user.dateOfBirth}" />
        </h:column>
        <h:column id="column5">
            <h:outputText id="column5text" value="#{user.gender}" />
        </h:column>
        <h:column id="column6">
            <!--add id on the url-->
            <h:link value="details" outcome="confirm">
                <f:param name="id" value="#{user.id}"></f:param>
            </h:link>
                        <!--add id on the url-->
        </h:column>
    </h:dataTable>
    <h:link value="roles" outcome="roles"/>
</h:body>
</html>