<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
>
<h:head>
    <title>Title</title>
</h:head>
<h:body>
    <div class="container">
        <h1>Register user</h1>
        <h:form>
            <h:panelGrid columns="2" rendered="#{registrationController.editable}">
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="First name : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:inputText id="firstName" styleClass="form-control" value="#{registrationController.user.firstName}">
                    </h:inputText>
                    <h:messages for="firstName"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Last name : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:inputText id="lastName" styleClass="form-control" value="#{registrationController.user.lastName}">
                    </h:inputText>
                    <h:messages for="lastName"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Gender : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:selectOneRadio id="gender" value="#{registrationController.user.gender}" >
                        <f:selectItems value="#{registrationController.genders}"/>
                    </h:selectOneRadio>
                    <h:message for="gender"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Date of birth : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:inputText id="dateOfBirth" styleClass="form-control" value="#{registrationController.user.dateOfBirth}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:inputText>
                    <h:message for="dateOfBirth"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="E-mail : "/>
            
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:inputText id="email" styleClass="form-control" value="#{registrationController.user.email}"/>
                    <h:message for="email"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Service level : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:selectOneMenu value="#{registrationController.user.serviceLevel}">
                        <f:selectItems value="#{registrationController.levels}"/>
                    </h:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Phone : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:inputText styleClass="form-control" value="#{registrationController.user.phone}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Accountnumber : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:inputText id="account" styleClass="form-control" value="#{registrationController.user.accountNumber}"/>
                                        
                    <h:message for="account"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:commandButton action="#{registrationController.register()}" value="Submit"
                                     styleClass="btn-primary"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">

                    <h:commandButton type="reset" value="Reset" styleClass="btn-danger"/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid columns="2" rendered="#{not registrationController.editable}">
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="First name : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="#{registrationController.user.firstName}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="Last name : "/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="#{registrationController.user.lastName}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Date of birth : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{registrationController.user.dateOfBirth}">
                                                <f:convertDateTime pattern="dd/MM/yyyy" />

                    </h:outputText>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Gender : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{registrationController.user.gender}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">E-mail: </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText value="#{registrationController.user.email}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Service level : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{registrationController.user.serviceLevel}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Phone : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{registrationController.user.phone}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <span class="font-weight-bold">Account number : </span>
                </h:panelGroup>
                <h:panelGroup styleClass="form-group col-6">
                    <h:outputText
                            value="#{registrationController.user.accountNumber}"/>
                </h:panelGroup>
                <h:commandButton styleClass="btn-dark" value="Edit" action="#{registrationController.edit()}"/>
            </h:panelGrid>
        </h:form>
    </div>
</h:body>
</html>