<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
          
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Title</title>
</h:head>
<h:body>
    <h1>Hello world</h1>
    <h:form>
        <h:outputLabel for="addRole" value="Role"/>
        <h:inputText id="addRole" value="#{roleController.role}"/>
        <h:commandButton id="add" value="Add">
            <f:ajax execute="addRole"
                    render="@form"
                    listener="#{roleController.addRole()}"/>
        </h:commandButton>
    <h:dataTable id="roles" styleClass="table table-dark" value="#{roleController.roles}" var="role">
        <h:column id="column1">
            <h:outputText id="column1text" value="#{role}" />
        </h:column>
        <h:column id="column2">
            
            <h:commandButton id="btnDelete" value="X" >
                <f:ajax listener="#{roleController.deleteRole(role)}"
                        render="@form"/>
            </h:commandButton>

        </h:column>
    </h:dataTable>
   </h:form>
</h:body>
</html>